.header .container {
    display: flex;
    justify-content: space-between;
    height: 74px;
    align-items: center;
}

.header{
    background-image: url("../img//Hero.png");
    width: 1280px;
    height: 812px;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
}
li{
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 33px; /* 165% */
    padding-right: 40px;
    list-style: none;
}
.menu_icon{
    display: flex;
    gap: 20px;
    color: #FFF;
}

.hero-product{
    background: rgba(255, 255, 255, 0.83);
    position: absolute;
   margin-left: 25%;
    top: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 521px;
    height: 204px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .header .container {
        display: flex;
        justify-content: space-between;
        height: 74px;
        align-items: center;
    }
    .nav-menu{
        display: none;
    }
    .header{
        display: flex;
        height: 550px;
        width: 100%;
        background-size: cover;
    }
    .hero-product{
        padding-right: 20px;
        padding-left: 20px;
        display: flex;
        width: 450px;
        height: 250px;
    }

    #overlay{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .close_icon{
        color: #FFF;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .header .container {
        display: flex;
        justify-content: space-between;
        height: 74px;
        align-items: center;
    }
    .nav-menu{
        display: none;
    }
    .header{
        display: flex;
        height: 550px;
        width: 100%;
        background-size: cover;
    }
    .hero-product{
        display: flex;
        width: 100px;
        height: 100%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {} 