/* Reset / sanitize */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    opacity: 0.8;
}

/* Basic */

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 84%;
    margin: 0 auto;
}

.cats{
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  height: 300px;
  padding-top: 10px;
}
.furniture{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../assets/furn.jpg');
    display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
}
.basket{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../assets/bask.jpg');
    display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
}
.products{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
}

.recent{
    display: grid;
    grid-template-columns: auto auto auto;
    height: 50px;
}


.pr1{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../assets/pr1.png);
    width: 280px;
height: 280px;
display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
}
.pr2{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../assets/pr2.png);
    width: 280px;
height: 280px;
display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
}
.pr3{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../assets/pr3.png);
    width: 280px;
height: 280px;
display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
}
.pr4{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../assets/pr4.png);
    width: 280px;
height: 280px;
display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
}
.pr5{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../assets/pr5.png);
    width: 280px;
height: 280px;
display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
}
.pr6{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../assets/pr6.png);
    width: 280px;
height: 280px;
display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
}
.pr7{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../assets/pr7.png);
    width: 280px;
height: 280px;
display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
}
.pr8{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../assets/pr8.png);
    width: 280px;
height: 280px;
display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
}


.b1{
    background: url(../assets/b1.jpg), lightgray 50% / cover no-repeat;
    width: 380px;
height: 380px;
display: flex;
justify-content: center;
align-items: center;
}

.b2{
    background: url(../assets/b2.jpg), lightgray 50% / cover no-repeat;
    width: 380px;
height: 380px;
display: flex;
justify-content: center;
align-items: center;
}

.b3{
    background: url(../assets/b3.jpg), lightgray 50% / cover no-repeat;
    width: 380px;
height: 380px;
display: flex;
justify-content: center;
align-items: center;
}

.footer{
    padding-top: 20px;
    background: #EFEFEF;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .cat{
        display: flex;
        flex-direction: column;
    }
    .furniture{
        height: 300px;
        width: 400px;
        background-size: cover;
    }
    .products{
        display: flex;
        flex-direction: column;
    }
    .pr1{
        height: 500px;
        width: 400px;
        padding: 10px;
    }
    .pr2{
        height: 500px;
        width: 400px;
        padding: 10px;
    }
    .pr3{
        height: 500px;
        width: 400px;
        padding: 10px;
    }
    .pr4{
        height: 500px;
        width: 400px;
        padding: 10px;
    }
    .pr5{
        height: 500px;
        width: 400px;
        padding: 10px;
    }
    .pr6{
        height: 500px;
        width: 400px;
        padding: 10px;
    }
    .pr7{
        height: 500px;
        width: 400px;
        padding: 10px;
    }
    .pr8{
        height: 500px;
        width: 400px;
        padding: 10px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {} 