.header{
    background-color: blueviolet;
}

ul{
    border: 1px solid red;
    padding: 10px;
    height: 50px;
    width: 100px;
}
li{
    font-weight: 100px;
    color: blueviolet;
    list-style: none;
}

li:hover{
    background-color: green;
    color: #fff;
}